################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Trunk/Demo/ApplicationBarDemo/obj
