################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Trunk/Demo/ApplicationBarDemo/obj
/Trunk/Demo/CheckBoxDemo/bin
/Trunk/Demo/CheckBoxDemo/obj
/Trunk/Demo/ApplicationBarDemo/bin
/Trunk/Demo/EmptyMetroDemo/bin
/Trunk/Demo/ExtendedTextBoxDemo/bin
/Trunk/Demo/ListSwapDemo/bin
/Trunk/Demo/NavigationDemo/bin
/Trunk/Demo/PasswordCheckDemo/bin
/Trunk/Demo/PickerControlDemo/bin
/Trunk/Demo/ProgressBarDemo/bin
/Trunk/Demo/SnappedWindowDemo/bin
/Trunk/Demo/TabControlDemo/bin
/Trunk/Demo/TypographicDemo/bin
/Trunk/Source/TpMetroWpfLibrary/TpMetroWpfLibrary.Tests/bin
/Trunk/Demo/EmptyMetroDemo/obj
/Trunk/Demo/ExtendedTextBoxDemo/obj
/Trunk/Demo/ListSwapDemo/obj
/Trunk/Demo/NavigationDemo/obj
/Trunk/Demo/PasswordCheckDemo/obj
/Trunk/Demo/PickerControlDemo/obj
/Trunk/Demo/ProgressBarDemo/obj
/Trunk/Demo/SnappedWindowDemo/obj
/Trunk/Demo/TabControlDemo/obj
/Trunk/Demo/TypographicDemo/obj
/Trunk/Source/TpMetroWpfLibrary/TpMetroWpfLibrary/obj
/Trunk/Source/TpMetroWpfLibrary/TpMetroWpfLibrary.Tests/obj
/Trunk/Demo/.vs/Demo/v15
/Trunk/Source/TpMetroWpfLibrary/.vs/TpMetroWpfLibrary
/Trunk/Demo/packages/TimePunch-MVVM.0.3.0
/Trunk/Source/TpMetroWpfLibrary/packages/TimePunch-MVVM.0.3.0
/Trunk/Output
